<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Thu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <h1 style="text-align: center;"><span style="color: #ff99cc;"><em>//Tất tần tật về Thu//</em></span></h1>
        <p style="text-align: center;"><img src="https://bit.ly/2v4E8ZY" width="300" height="300" /></p>
        <h3 style="text-align: center;"><span style="color: #ff99cc; background-color: #ffffff;"><strong>T&ecirc;n</strong></span></h3>
        <p style="text-align: center;">Pikathu</p>
        <hr />
        <h3 style="text-align: center;"><span style="color: #ff99cc; background-color: #ffffff;">Work</span></h3>
        <p style="text-align: center;">Full-time uống tr&agrave; sữa </p>
        <hr />
        <h3 style="text-align: center;"><span style="color: #ff99cc; background-color: #ffffff;">School</span></h3>
        <p style="text-align: center;">Knox College</p>
        <hr />
        <h3 style="text-align: center;"><span style="color: #ff99cc; background-color: #ffffff;">Crush</span></h3>
        <p style="text-align: center;">&nbsp;<a href="https://bit.ly/2rx5mqi">anh ngừi iu</a>&nbsp;&hearts;️</p>
</body>
</html>