<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    
</head>
<body>
    <h1>New service</h1>
    <form method= 'post'>
        <label>Ten</label>
        <input type="text" name="name" value = "Thu" >
        <br>

        <label>Yob</label>
        <input type="text" name="yob" value = "1999">
        <br>



        <input type="radio" name="gender" value=0> Male<br>
        <input type="radio" name="gender" value=1 checked> Female<br>


        <input type="submit" value="Them">
</body>
</html>