  <div class=" d-flex flex-column " style="height: 474px;">
    <div class="d-flex  justify-content-center mt-5"><h2>Chào mừng các bạn đã đến với Mùa Đông Không Lạnh</h2></div>
    <div class="d-flex  justify-content-center mt-5"><p class="font-lobster">"Chúng tôi ở đây để giúp bạn có mối quan hệ blah blah blah"</p></div> 
    <div class="d-flex justify-content-around mt-5 " style="height: 150px;">
    <div class="thumbnail col-md-5" style="height: 136px;">
    <div class="female-bg" style="height: 136px;">
            <div class="caption text-white text-right pr-5">
                    <a class="text-white" href="{{url_for('anothersearch')}}"> bạn là nam?</a>
            </div>
    </div>
    </div>
    <div class="thumbnail col-md-5" style="height: 136px;">
            <div class="male-bg" style="height: 136px;">
                    <div class="caption text-white text-left pl-5">
                            <a class="text-white" href="{{url_for('anothersearch')}}"> bạn là nữ? </a>
                    </div>
            </div>
            </div>
    </div>
</div>

<div class=" d-flex flex-column align-items-center " style="height: 634px; background: url('https://i.ytimg.com/vi/QnrzS2xEoWg/maxresdefault.jpg'); ">
<div class="d-flex justify-content-center text-white mt-5 mb-3" > <h4> Khách hàng bình chọn </h4> </div>

<div class=" d-flex flex-wrap justify-content-around align-items-center mb-4 " style="height: 530px;">
        <div style=" width: 187px; height: 187px;">
        <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/34837294_1783082088473289_490901267145555968_n.jpg?_nc_cat=0&oh=c0d149d604c9484f8af5ca315cc2dd4d&oe=5C030D18" class="img-thumbnail" alt="">
        </div>

        <div style=" width: 187px; height: 187px;">
                <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/34837294_1783082088473289_490901267145555968_n.jpg?_nc_cat=0&oh=c0d149d604c9484f8af5ca315cc2dd4d&oe=5C030D18" class="img-thumbnail" alt="">
        </div>
        <div style=" width: 187px; height: 187px;">
                <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/34837294_1783082088473289_490901267145555968_n.jpg?_nc_cat=0&oh=c0d149d604c9484f8af5ca315cc2dd4d&oe=5C030D18" class="img-thumbnail" alt="">
        </div>
        <div style=" width: 187px; height: 187px;">
                <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/34837294_1783082088473289_490901267145555968_n.jpg?_nc_cat=0&oh=c0d149d604c9484f8af5ca315cc2dd4d&oe=5C030D18" class="img-thumbnail" alt="">
        </div>
        <div style=" width: 187px; height: 187px;">
                <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/34837294_1783082088473289_490901267145555968_n.jpg?_nc_cat=0&oh=c0d149d604c9484f8af5ca315cc2dd4d&oe=5C030D18" class="img-thumbnail" alt="">
        </div>
        <div style=" width: 187px; height: 187px;">
                <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/34837294_1783082088473289_490901267145555968_n.jpg?_nc_cat=0&oh=c0d149d604c9484f8af5ca315cc2dd4d&oe=5C030D18" class="img-thumbnail" alt="">
        </div>
        <div style=" width: 187px; height: 187px;">
                <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/34837294_1783082088473289_490901267145555968_n.jpg?_nc_cat=0&oh=c0d149d604c9484f8af5ca315cc2dd4d&oe=5C030D18" class="img-thumbnail" alt="">
        </div>
        <div style=" width: 187px; height: 187px;">
                <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/34837294_1783082088473289_490901267145555968_n.jpg?_nc_cat=0&oh=c0d149d604c9484f8af5ca315cc2dd4d&oe=5C030D18" class="img-thumbnail" alt="">
        </div>
</div>
</div>
<div class="d-flex flex-column" style="height:620px">
        <div class="d-flex  justify-content-center align-items-center" style="height:140px"><h1>CÁC GÓI DỊCH VỤ</h1></div>
        <div class=" d-flex justify-content-center align-items-center " >

                <div class="card border-secondary  " style="max-width: 352px ; height:374px;">
                        <div class="card-header bg-secondary text-white border-secondary"><h5>Gói cơ bản</h5></div>
                        <div class="card-body">
                          <div class="card-text">
                              <p > Dẫn bạn về ra mắt</p>
                              <p > Đi uống trà sữa</p>
                              <p class="text-black-50"> Không nắm tay hay tiếp xúc dưới bất kì hình thúc nào</p>
                              <p class="text-black-50"> Bạn không phụ giúp gia đình các công việc nấu nước dọn dẹp</p>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-dark d-flex justify-content-end">
                                <button type="button" class="btn btn-dark">
                                    <i class="fas fa-heart"></i>
                                    Tìm hiểu thêm</button>
                        </div>
                </div>

                <div class="card border-secondary mr-5 ml-5  " style="max-width: 352px ; height:374px;">
                        <div class="card-header bg-secondary text-white border-secondary"><h5>Gói cơ bản</h5></div>
                        <div class="card-body">
                          <div class="card-text">
                              <p > Dẫn bạn về ra mắt</p>
                              <p > Đi uống trà sữa</p>
                              <p class="text-black-50"> Không nắm tay hay tiếp xúc dưới bất kì hình thúc nào</p>
                              <p class="text-black-50"> Bạn không phụ giúp gia đình các công việc nấu nước dọn dẹp</p>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-dark d-flex justify-content-end">
                                <button type="button" class="btn btn-dark">
                                    <i class="fas fa-heart"></i>
                                    Tìm hiểu thêm</button>
                        </div>
                </div>
                
                <div class="card border-secondary  " style="max-width: 352px ; height:374px;">
                        <div class="card-header bg-secondary text-white border-secondary"><h5>Gói cơ bản</h5></div>
                        <div class="card-body">
                          <div class="card-text">
                              <p > Dẫn bạn về ra mắt</p>
                              <p > Đi uống trà sữa</p>
                              <p class="text-black-50"> Không nắm tay hay tiếp xúc dưới bất kì hình thúc nào</p>
                              <p class="text-black-50"> Bạn không phụ giúp gia đình các công việc nấu nước dọn dẹp</p>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-dark d-flex justify-content-end">
                                <button type="button" class="btn btn-dark">
                                    <i class="fas fa-heart"></i>
                                    Tìm hiểu thêm</button>
                        </div>
                </div>

                    

        </div>
</div>

<div class="d-flex bg-dark text-white justify-content-center align-items-center" style="height:65px">Được thực hiện bởi Thu</div>